<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui eight wide form">
            <form action="/addCategory" method="POST">
            <div class="fields">
        <div class="field">
            <label>Category</label>
            <input placeholder="Category Name" type="text" name="category_name">
        </div>
        <div class="field">
            <label>Location</label>
            <input placeholder="Location" type="text" name="category_location">

        </div>
        <div class="field">
            <label>Add Category </label>
            <div><button class="ui blue submit button column">Add Category</button></div>

        </div>


        {{> errors }}
    </div>
            </form>
    </div>
    </div>
</section>
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="eight wide column">
            <img src="/images/Mahon_Falls.jpg" class="ui large image">
        </aside>
        <div class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                {{#each categories}}
                    <tr>
                        <td> {{category_name}} </td>
                        <td> {{category_location}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


</section>


