<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui eight wide form column">
      <div class="ui stacked segment">
        <form action="/addClimb" method="POST">
              <div class="field">
                  <label>Climb Name</label>
                  <input placeholder="Climb Name" type="text" name="climb_name">
              </div>
              <div class="field">
                  <label>Description</label>
                  <textarea name="climb_description"></textarea>
              </div>
              <div class="field">
                  <label>Latitude</label>
                  <input placeholder="Latitude" type="number" step=any name="climb_lat">
              </div>
              <div class="field">
                  <label>Longitude</label>
                  <input placeholder="Longitude" type="number" step=any name="climb_long">
              </div>

              <div class="grouped inline fields">
                  <H3>Select Category</H3>
                  {{#each categories}}
                  <div class="field">
                  <div class="ui radio checkbox">
                  <input type="radio" name="category" value="{{category_name}},{{category_location}}">
                      <label>{{category_name}}, {{category_location}}</label>
                  </div>
                  </div>
                  {{/each}}
          </div>

              <br>
            <div><button class="ui blue submit button">Add Climb</button></div>
        </form>
          {{> errors }}
    </div>

  </div>
      <aside class="eight wide column">
      <img src="/images/Mahon_Falls.jpg" class="ui large image">
          <img src="/images/Mahon_Falls.jpg" class="ui large image">
  </aside>
  </div>
</section>