<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form twelve column">
      <div class="ui stacked segment">
        <form action="/addCategory" method="POST">
          <div class="ui dropdown" name="amount">
            <input type="hidden" name="amount">
              <div class="field">
                  <label>Category</label>
                  <input placeholder="Category Name" type="text" name="category_name">
              </div>
              <div class="field">
                  <label>Location</label>
                  <input placeholder="Location" type="text" name="category_location">
              </div>
          </div>
              <br>
              <br>
              <br>
            <div><button class="ui blue submit button">Add Category</button></div>
        </form>
          {{> errors }}
    </div>
  </div>
  </div>

    <div class="ui grid">
        <aside class="twelve wide column">
            <img src="" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                {{#each categories}}
                    <tr>
                        <td> {{category_name}} </td>
                        <td> {{category_location}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>

</section>


