<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui stacked segment">
        <form action="/addClimb" method="POST">
          <div class="ui dropdown" name="amount">
            <input type="hidden" name="amount">
              <div class="field">
                  <label>Climb Name</label>
                  <input placeholder="Climb Name" type="text" name="climb_name">
              </div>
              <div class="field">
                  <label>Climb Lenght</label>
                  <input placeholder="Climb Lenght" type="number" name="climb_lenght">
              </div>
              <div class="field">
                  <label>Climb %</label>
                  <input type="number" name="climb_percentage">
              </div>
              <div class="field">
                  <label>Description</label>
                  <input type="text" name="climb_description">
              </div>



              <div class="ui dropdown" name="county">
                  <input type="hidden" name="county">

              <div class="text">Select County</div>
            <i class="ui dropdown icon"></i>
            <div class="menu">
              <div class="item">Waterford</div>
              <div class="item">Wexford</div>
              <div class="item">Tipperary</div>
                <div class="item">Kilkenny</div>
                <div class="item">Carlow</div>
            </div>

          </div>
              <br>
              <br>
              <br>
            <div><button class="ui blue submit button">Add Climb</button></div>

        </form>
      </div>
    </div>
    <aside class="six wide column">
      <img src="" class="ui medium image">
    </aside>
  </div>
</section>