<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Climb Name</th>
            <th>Latitude</th>
              <th>Longitude</th>
              <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {{#each climbs}}
            <tr>
              <td> {{climb_name}} </td>
              <td> {{climb_lat}} </td>
                <td> {{climb_long}} </td>
                <td> {{category}} </td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>