<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Climb Name</th>
            <th>Lenght</th>
              <th>Percentage</th>
              <th>County</th>
          </tr>
        </thead>
        <tbody>
          {{#each climbs}}
            <tr>
              <td> {{climb_name}} </td>
              <td> {{climb_lenght}} </td>
                <td> {{climb_percentage}} </td>
                <td> {{county}} </td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>