<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui eight wide form column">
      <div class="ui stacked segment">
        <form action="/addClimb" method="POST">
              <div>
                  <tr></tr><label>Climb Name</label>: {{climb.climb_name}}<tr>
                  <tr>  </tr>
              </div>
              <div >
                  <label>Description</label>
                  <td></td>
              </div>
              <div >
                  <label>Latitude</label>
                  <td> {{climb.climb_lat}} </td>
              </div>
              <div>
                  <label>Longitude</label>
                  <td> {{climb.climb_long}} </td>
              </div>




        </form>
    </div>

  </div>
      <aside class="eight wide column">
      <img src="/images/Mahon_Falls.jpg" class="ui medium image">
  </aside>
  </div>
</section>