{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="eight wide column">
      <img src="\images\climb.jpg" class="ui big image">
    </aside>
    <article class="eight wide column center aligned">
      <h1 class="ui header"> Climbs in the South East</h1>
      <p> A list of the best cycling climbs in the South East of Ireland </p>
        <div class="eight wide column center aligned">
            <img src="\images\mountain.jpg" class="ui large image">
        </div>
    </article>
  </div>
</section>