{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Climbs in the South East</header>
      <p> A list of the best cycling climbs in the South East of Ireland </p>
    </article>
  </div>
</section>